// Colors
$color-dark: #272727;
$color-white: #f7f7f7;
$color-primary: #0078b7;
$color-secondary: #0096c8;
$color-rarly: #033e8a;

// Sizes
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_l: 927px;
$breakpoint_m: 642px;
$breakpoint_s: 500px;
