// Colors
$color-dark: #272727;
$color-white: #ffffff;
$color-background: #f7f7f7;
$color-primary: #0078b7;
$color-secondary: #0096c8;
$color-rarly: #033e8a;

// Sizes
$breakpoint_xxl: 1328px;
$breakpoint_xll: 1290px;
$breakpoint_xl: 1054px;
$breakpoint_l: 905px;
$breakpoint_m: 750px;
$breakpoint_s: 642px;
$breakpoint_sm: 500px;
