@import "../../index";

@media (max-width: $breakpoint_m) {
	.Gallery-slice {

		&__albums {
			display: flex !important;
			flex-wrap: wrap;
			width: 100%;
			align-items: center;
			justify-content: center;
			justify-items: center;

		}

		.AlbumCard:nth-child(10n + 1) {

			.AlbumCard__photo {
				width: 100%;
				height: 280px;
			}
		}

		.AlbumCard:nth-child(10n + 8) {

			.AlbumCard__photo {
				width: 100%;
				height: 280px;
			}
		}

		.AlbumCard__photo {
			width: 100%;
			height: 280px;
		}

		.AlbumCard {
			width: 100%;
		}
	}
}



.Gallery-slice {
	margin-bottom: 80px;

	&-container {
		padding-top: 16px;
		padding-bottom: 16px;
	}

	&__title {
		@include font-title-italic;
		margin-bottom: 8px;
	}

	&__albums {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		//counter-reset: div;
		gap: 20px;
	}
}

.AlbumCard__photo {
	object-fit: cover;
	border-radius: 15px;
}

.AlbumCard {
	display: flex;
	justify-content: center;
	align-items: center;
}

.AlbumCard:before {
	//counter-increment: div;
	//content: counter(div);
}

.AlbumCard:nth-child(10n + 1) {
	grid-row: auto / span 2;
	grid-column: auto / span 2;

	.AlbumCard__photo {
		width: 580px;
		height: 580px;
	}
}

.AlbumCard:nth-child(10n + 8) {
	grid-row: auto / span 2;
	grid-column: auto / span 2;

	.AlbumCard__photo {
		width: 580px;
		height: 580px;
	}
}