@import "../../index";

.Question-slice {
	&__header {
		@include font-title-italic;
		text-align: center;
	}

	&__blocks {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 16px;
		align-items: center;
	}
}
