@import "../../index";

.Rso-slice {
	.Rso-slice-container {
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
		column-gap: 40px;

		.Rso-slice__info {
			&__header {
				@include font-title-italic;
			}

			&__title {
				@include font-title;
				width: 560px;
			}

			&__description {
				margin-bottom: 24px;
				width: 560px;
			}

			&__button {
				display: inline-flex;
				justify-content: space-between;
				align-items: center;
				padding: 8px 16px;
				gap: 32px;
				width: 210px;
				border-radius: 10px;
				border: 2px solid rgba(0, 0, 0, 0.2);
				background: $color-primary;
				outline: none;
				color: $color-white;
				font-weight: 500;
				cursor: pointer;
				transition: 0.1s;
			}

			&__button:hover {
				background: $color-secondary;
			}

			&__button:active {
				background: $color-rarly;
			}
		}

		.Rso-slice__blocks {
			display: flex;
			flex-direction: column;
			gap: 40px;
			justify-content: center;
			min-width: 344px;
			align-items: flex-end;
			@media (max-width: $breakpoint_m) {
				gap: 64px;
			}
		}
	}
}

@media (max-width: $breakpoint_xl) {
	.Rso-slice__info {
		&__title {
			width: 100% !important;
		}
		&__description {
			width: 100% !important;
		}
	}
}

@media (max-width: $breakpoint_l) {
	.Rso-slice {
		.Rso-slice-container {
			flex-direction: column-reverse !important;
			row-gap: 64px !important;
		}
	}
}

@media (max-width: $breakpoint_m) {
	.Rso-slice {
		.Rso-slice-container {
			.Rso-slice__info {
				&__title {
					font-size: 24px !important;
				}

				&__description {
					font-size: 16px !important;
				}
			}
			.Rso-slice__blocks {
				min-width: 100% !important;
			}
		}
	}
}
